body {
    color: grey;
    text-align: center;
}

.pic {
    height: 400px;
    width: 20%;
    margin-left: 500PX;
    margin-right: 500PX;
    border-radius: 25px;
}

p {
    text-align: center;
    margin-left: 350PX;
    margin-right: 350PX;
}

li {
    list-style-type: upper-roman;
    text-align: center;
    color: deepskyblue;
}

#final {
    font-size: 25px;
    color: darkred;
}

h1 {
    color: deepskyblue;
}

